<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.ad.mapper.AdPublishMapper">

    <!-- 根据司机手机号查询对应车辆上的广告信息 -->
    <select id="queryDriverAds" resultType="org.jeecg.modules.ad.entity.AdPublish">
        SELECT
            p.*
        FROM
        ad_publish p
        LEFT JOIN
        ad_vehicle v ON v.ad_id = p.id
        LEFT JOIN
        ad_driver d ON d.id = v.driver_id
        WHERE d.phone = #{phone}
    </select>
</mapper>